.square{
    border: .1rem solid black;
    padding: 20px;
    margin: 20px;
    transition: all .07s ease;

}

.squares{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 900px;
}

.playing{
    transform: scale(1.15);
    border-color: red;
    box-shadow: 0 0 1rem red;